body {
	background-color: white;
	font-family: Rubik, sans-serif;
	margin: 0;
	overflow-x: hidden;
}
	
.main-contener {
	display: flex;
	width: 100vw;
}

.login-section {
	display: flex;
	flex-direction: column;
    padding: 10% 5% 0;
	flex: 1;
	margin-bottom: 12%;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.06px;
}

.text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #64606A;
}

.email {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #64606A;
}
.sign-in-free {
	border-radius: 7px;
	height: 50px;
	margin-top: 24px;
	background-color: #284642;
	font-weight: 700;
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
}

.hr {
	margin: 14px 0;
	width: 100%;
	color: #EDEBF0;
}


.log-in {
	color: #64606a;
	letter-spacing: 0.5px;
}

/* sidebar-image */

.sidebar {
    flex: 2;
	background-image: url(../images/image62.png) ;
	background-size: cover;
  }

.background {
	background: rgba(40, 70, 66, 0.5);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-img-in {
	display: flex;
	flex-direction: column;
	width: 30%;
    height: 45%;
}

.img {
	display: flex;
	justify-content: space-between;
}

.img-in-c{
    width: 50%;
    height: 15vh;
	}

.img-in-o{
    width: 55%;
    height: 15vh;
	padding-left: 10%;
}

.img-in-w {
	width: 100%;
	height: 17vh;
    padding: 10% 0; 
}

.img-in-wo {
	width: 100%;
	height: 16vh;   
}

/* Extra small devices (phones, 950px and down) */
@media only screen and (max-width: 950px) {

.main-contener {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	}

.sidebar{
	flex: 1;
}

.login-section {
	flex: 2;
}

.background {
	display: flex;
	flex-direction: column;
	align-items: flex-start; 
}

.login-img-in {
	margin: 5% 5%;
}

}